<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Riot Diversity and Inclusion|Riot Games</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <div class="main">
        <div class="row1">
            <div class="column1"></div>
            <div class="column2"><p>Diversity <br> & <br> Inclusion</p></div>
        </div>
        <div class="row2">
            <h1>“Building a Riot Games where everyone can thrive.”​</h1>
            <div class="ro1">
            <div class="row2-1-c1">
                <img src="img2.jpeg" alt="">
            </div>
            <div class="row2-1-c2">
            <p>We make Riot a great home for people who love making games by setting a high bar for diversity and inclusion, and fostering a fair, collaborative, high-performing culture.</p>
            </div>
            </div>
            <div class="ro2">
                <p >To get there, we’re driven by a few simple beliefs. We believe:</p>
                <ul><li><p>Teams win together only when they are both diverse and inclusive.</p></li>
                    <li ><p >Leveraging our strengths, knowing our weaknesses, and being honest about both is the best way to succeed, whether that’s in the office or in a game.</p></li>
                    <li ><p >We must not tolerate sexism, racism, homophobia, transphobia, ableism, ageism, religious discrimination, and bigotry of any kind.</p></li>
                    <li ><p >Work can be a place where you make lifelong friends, partner with clutch teammates, and embrace the joy of making games. ​</p></li>
                </ul>
                <p >These beliefs will help us surface the best ideas, challenge the status quo, and ultimately make better games.</p>

            </div>
        </div>
        <div class="row3">
            <div class="row3-c1">
                <img src="img3.png" alt="">
            </div>
            <div class="row3-c2">
                <h3 class="">Our Annual Diversity and Inclusion Progress Report is live</h3>
                <div class="copyprose">
                    <p style="width:90% ;font-size:22px">In a year when we launched new games during a pandemic, we also kept focused on our commitment to fostering diverse perspectives and work towards creating an inclusive culture.</p>
                </div>
                <a href="https://www.riotgames.com/darkroom/original/eb85041debdca6f82c15a8bed143493d:1be7e2dc9743d92a0d49f2f6b13f70c6/riot-diversity-inclusion-report-2021.pdf" class="button"><span>Download our full D&amp;I report</span></a>

            </div>

        </div>
        <div class="row4">
            <div class="ro1">
                <div class="content">
                    <h1 class="temp1">Rioter Identity Groups</h1>
                    <p class="temp2">Our employee resource groups—or Rioter Identity Groups (RIGs) as we like to call them— were created to provide us with insights and perspectives on the opportunities and challenges of maintaining a diverse and inclusive workplace. They also bring Rioters together to celebrate diversity, enable authentic representation in gaming, and foster a deep sense of belonging at Riot and with players. Through their insights, programs, and activations, RIGs have been vital in building an inclusive community inside and out.</p>
                </div>
            </div>
            <!-- <div class="carousel">
                <button class="carousel_button carousel_button--left"><img src="left.svg" alt=""></button>
                <div class="carousel_track-container">
                    <ul class="carousel_track">
                        <li class="carousel_slide"><img class="carousel_image" src="img6.jpg" alt=""></li>
                        <li class="carousel_slide"><img class="carousel_image" src="img7.jpg" alt=""></li>
                        <li class="carousel_slide"><img class="carousel_image" src="img8.jpg" alt=""></li>
                    </ul>
                </div>
                <button class="carousel_button carousel_button--right"><img src="right.svg" alt=""></button>
                <div class="carousel_nav">
                    <button class="carousel_indicator current-slide"></button>
                    <button class="carousel_indicator"></button>
                    <button class="carousel_indicator"></button>
                </div>
            </div> -->
            <section class="carousel" aria-label="Gallery">
                <ol class="carousel__viewport">
                  <li id="carousel__slide1"
                      tabindex="0"
                      class="carousel__slide">
                    <div class="carousel__snapper">
                      <a href="#carousel__slide4"
                         class="carousel__prev">Go to last slide</a>
                      <img src="img6.jpg" alt="">   
                      <a href="#carousel__slide2"
                         class="carousel__next">Go to next slide</a>
                         
                    </div>
                  </li>
                  <li id="carousel__slide2"
                      tabindex="0"
                      class="carousel__slide">
                    <div class="carousel__snapper"></div>
                    <a href="#carousel__slide1"
                       class="carousel__prev">Go to previous slide</a>
                    <img src="img7.jpg" alt="">   
                    <a href="#carousel__slide3"
                       class="carousel__next">Go to next slide</a>
                  </li>
                  <li id="carousel__slide3"
                      tabindex="0"
                      class="carousel__slide">
                    <div class="carousel__snapper"></div>
                    <a href="#carousel__slide2"
                       class="carousel__prev">Go to previous slide</a>
                    <img src="img8.jpg" alt="">   
                    <a href="#carousel__slide4"
                       class="carousel__next">Go to next slide</a>
                  </li>
                  
                </ol>
                <aside class="carousel__navigation">
                  <ol class="carousel__navigation-list">
                    <li class="carousel__navigation-item">
                      <a href="#carousel__slide1"
                         class="carousel__navigation-button">Go to slide 1</a>
                    </li>
                    <li class="carousel__navigation-item">
                      <a href="#carousel__slide2"
                         class="carousel__navigation-button">Go to slide 2</a>
                    </li>
                    <li class="carousel__navigation-item">
                      <a href="#carousel__slide3"
                         class="carousel__navigation-button">Go to slide 3</a>
                    </li>
                  </ol>
                </aside>
              </section>
             
        </div>
        <div class="temp3">
        <p>With the support of an executive leader, each RIG creates an annual operating plan with a focus on three areas: Rioters, business, and community. Today we have six RIGs:&nbsp;</p>
        </div>

        <div class="row5">
            <div class="c1">
                <img src="img9.png" alt="">
                <h1>Filipinos At Riot</h1>
                <p>Filipinos At Riot’s (FAR) mission is to empower, unify, and celebrate Filipinos at Riot and in the gaming community.</p>

            </div>
            <div class="c1">
                <img src="img10.png" alt="">
                <h1>Rainbow Rioters</h1>
                <p>Rainbow Rioters’ mission is to foster LGBTQIA+ inclusive communities and products at Riot and beyond.</p>

            </div><div class="c1">
                <img src="img11.png" alt="">
                <h1>Riot Alliance of Diverse Genders</h1>
                <p>Riot Alliance of Diverse Genders’ (RAD Genders) mission is to drive Riot to be a place where people of all genders thrive and see themselves reflected in Riot’s products.</p>

            </div><div class="c1">
                <img src="img12.png" alt="">
                <h1>Riot Noir</h1>
                <p>Riot Noir’s mission is to amplify Black voices and increase representation at Riot both in and outside of products.</p>

            </div><div class="c1">
                <img src="img13.png" alt="">
                <h1>Riot Unidos</h1>
                <p>Riot Unidos’ mission is to provide a supportive environment for Latinx Rioters and their allies by advocating for increased visibility, cultural bonding, community outreach, and positive change throughout Riot Games.</p>

            </div><div class="c1">
                <img src="img14.png" alt="">
                <h1>Veterans@Riot</h1>
                <p>Veterans@Riot’s mission is to support Veteran Rioters and allies while increasing representation in gaming and entertainment.</p>

            </div>
        </div>    
        <div class="row6">
            <h1 >
                Latest News</h1>
            <section class="carousel" aria-label="Gallery">
            <ol class="carousel__viewport">
              <li id="carouselslide1"
                  tabindex="0"
                  class="carousel__slide">
                <div class="carousel__snapper">
                  <!-- <a href="#carouselslide4"
                     class="carousel__prev">Go to last slide</a> -->
                  <div class="slide1">  
                    <div class="c1">
                      
                          <img src="img15.png">
                          <div class="eyebrow"><span>Inside Riot</span></div>
                          <h1>
                            Women’s History Month
                          </h1><br>
                          <p style="width:95%">In March, Rioters from around the world came together to celebrate Women’s History Month.</p>
                      
                    </div>
                    <div class="c2">
                        
                            <img src="img16.png">
                            <div class="eyebrow"><span>Inside Riot</span></div>
                            <h1>
                                How Rioters in Brazil Helped Create Raze, the Dancing Salvadorian...
                              </h1><br>
                              <p style="width:95%">Every VALORANT player has thoughts about the flashy duelist. But in Brazil, where Raze is from, she means something more</p>
                          
                        
                        
                    </div>
                  </div>    
                  <!-- <a href="#carouselslide2"
                     class="carousel__next">Go to next slide</a> -->
                     
                </div>
              </li>
              <li id="carouselslide2"
                  tabindex="0"
                  class="carousel__slide">
                <div class="carousel__snapper"></div>
                <!-- <a href="#carouselslide1"
                   class="carousel__prev">Go to previous slide</a> -->
                   <div class="slide1">  
                    <div class="c1">
                     
                          <img src="img17.png">
                          <div class="eyebrow"><span>Inside Riot</span></div>
                          <h1>
                            <span>Riot Lands on the Financial Times Diversity Leaders list</span>
                          </h1><br>
                          <p style="width:95%">Riot Games was named to The Financial Times Diversity Leaders list for the second year in a row. Over 15,000 companies are assessed across 16 European countries and the 850 companies with the highest employee scores make the final list. Riot placed #148 on the list.</p>
                      
                    
                    </div>
                    <div class="c2">
                        
                            <img src="img18.jpg">
                            <div class="eyebrow"><span>Inside Riot</span></div>
                            <h1>
                                <span>Annual Diversity and Inclusion (D&amp;I) Progress Report - August 2021</span>
                              </h1>
                              <p style="width:95%">In a year when we launched new games during a pandemic, we also kept focused on our commitment to fostering diverse perspectives and work towards creating an inclusive culture. Our second annual D&amp;I report is live now! </p>
                          
                        
                        
                    </div>
                  </div>  
                <!-- <a href="#carouselslide3"
                   class="carousel__next">Go to next slide</a> -->
              </li>
              <li id="carouselslide3"
                  tabindex="0"
                  class="carousel__slide">
                <div class="carousel__snapper"></div>
                <!-- <a href="#carouselslide2"
                   class="carousel__prev">Go to previous slide</a> -->
                   <div class="slide1">  
                    <div class="c1">
                      
                          <img src="img19.png">
                          <div class="eyebrow"><span>Inside Riot</span></div>
                          <h1>
                            <span>Changing the Face of Gaming at 2021 Virtual San Diego Comic-Con</span>
                          </h1>
                          <p style="width:95%">Jessica Nam, Candace Thomas, and Shauna Spenley discuss their journey into the gaming and entertainment industry</p>
                      
                      
                    </div>
                    <div class="c2">
                        
                            <img src="img20.png">
                            <div class="eyebrow"><span>Inside Riot</span></div>
                            <h1>
                                <span>Underrepresented Founders Program One Year In</span>
                              </h1>
                              <p style="width:95%">Our continued support to drive change in underrepresented gaming communities.</p>
                          
                        
                        
                    </div>
                  </div>     
                <!-- <a href="#carouselslide4"
                   class="carousel__next">Go to next slide</a> -->
              </li>
              
            </ol>
            <aside class="carousel__navigation">
              <ol class="carousel__navigation-list">
                <li class="carousel__navigation-item">
                  <a href="#carouselslide1"
                     class="carousel__navigation-button">Go to slide 1</a>
                </li>
                <li class="carousel__navigation-item">
                  <a href="#carouselslide2"
                     class="carousel__navigation-button">Go to slide 2</a>
                </li>
                <li class="carousel__navigation-item">
                  <a href="#carouselslide3"
                     class="carousel__navigation-button">Go to slide 3</a>
                </li>
              </ol>
            </aside>
          </section></div>
    </div>
</body>
<script src="index.js"></script>
</html>