<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Press</title>
    <link rel="stylesheet" href="./press.css">
</head>

<body>
    
    <div class="press">

        <!-- <div class="press1"> -->
        <!-- <img src="malphite.jpg" height="160px" width="1024px"> -->
        <h1>Press</h1>

    </div>


    

    <div class="side-nav-logos">

        <div class="cl">
            <div class="r1">
             
            </div>
        <div class="r2">    
        <div class="empty">

        </div>
        <div class="side-bar" >
            <ul>
                <li id="lo1"class="li1" style="color:#D1363A">Logos</li>
                <br/>

                <li id="lo2" class="li1">Riot HQ Photos</li>
                <br/>

                <li id="lo3" class="li1">League of Legends Esports</li>
                <br/>

                <li id="lo4" class="li1">Videos</li>
                <br/>

                <li id="lo5" class="li1">Documents</li>
                <br/>

            </ul>

        </div>
        </div>
        </div>
        
        <div class="logos">
            <div class="head">
                
                <h2>Logos</h2>
                
            </div>
            
            <div class="body">
                <div class="logo">
                    <img src="riot1.jpg" class=" logo"><br />
                    <label for="logo1" id="text">Riot Logos for Print </label><br/><br/>
                    <a href="">/  Download</a>
                    
                </div>
                <div class="logo">
                    <img src="riot2.jpg" class=" logo"><br />
                    <label for="logo2" id="text">Riot Logos for Web</label><br/><br/>
                    <a href="">/  Download</a>

                </div>
                <div class="logo">
                    <img src="riot3.png" class=" logo3"><br />
                    <label for="logo3" id="text">League of Legends Logo</label><br/><br/>
                    <a href="">/  Download  </a>

                </div>
                <div class="logo">
                    <img src="riot4.png" class=" logo4"><br />
                    <label  for="logo4" id="text">League of Legends: Wild 
                        Rift Logos</label><br/><br/>
                    <a href="">/  Download</a>

                </div>
                
                <div class="logo">
                    <img src="riot5.png" class=" logo5"><br />
                    <label for="logo5" id="text">Legends of Runeterra Logos</label><br/><br/>
                    <a href="">/  Download</a>

                </div>
                <div class="logo">
                    <img src="riot6.png" class=" logo6"><br />
                    <label for="logo6" id="text">Teamfight Tactics Logos</label><br/><br/>
                    <a href="">/  Download</a>
                    <p></p>

                </div>
                <div class="logo">
                    <img src="riot7.png" class=" logo7"><br />
                    <label for="logo7" id="text">VALORANT Logos</label><br/><br/>
                    <a href="">/  Download</a>

                </div>
                
            </div>
            
            </div>
        </div>
    </div>
    
        <diV class="r1" >
            <h1 >Media Contacts</h1>
        </div>
        <div class="r2">
            <div class="c1">
                <img src="riot8.jpg" width="600px" height="600px">
            </div>
            <div class="c2">
                <div calss="c21" >
                    <h2 >Media Inquiries</h2>
                    <ul>
                        <li class="li2">media@riotgames.com</li>
                    </ul>
                </div>
                <div calss="c22">
                    <h2 >Twitter</h2>
                    <ul>
                        <li class="li2">Riot Games</li>
                        <li class="li2">League of Legends</li>
                        <li class="li2">Teamfight Tactics</li>
                        <li class="li2">Legends of Runeterra</li>
                        <li class="li2">League of Legends: Wild...</li>
                        <li class="li2">VALORANT</li>
                    </ul>
                </div>
                <div class="c23">
                    <h2>Facebook</h2>
                    <ul>
                        <li class="li2">Riot Games</li>
                        <li class="li2">League of Legends</li>
                        <li class="li2">Teamfight Tactics</li>
                        <li class="li2">Legends of Runeterra</li>
                        <li class="li2">League of Legends: Wild...</li>
                        <li class="li2">VALORANT</li>
                    </ul>
                </div>
                <div class="c24">
                    <h2>Instagram</h2>
                    <ul>
                        <li class="li2">Riot Games</li>
                        <li class="li2">League of Legends</li>
                        <li class="li2">Teamfight Tactics</li>
                        <li class="li2">Legends of Runeterra</li>
                        <li class="li2">League of Legends: Wild...</li>
                        <li class="li2">VALORANT</li>
                    </ul>

                </div>
                <div>
                    <h2>LinkedIn</h2>
                    <ul>
                        <li class="li2">Riot Games</li>
                    </ul>
                </div>
                <div>
                    <h2>YouTube</h2>
                    <ul>
                        <li class="li2">Riot Games</li>
                        <li class="li2">League of Legends</li>
                        <li class="li2">Legends of Runeterra</li>
                        <li class="li2">League of Legends: Wild...</li>
                        <li class="li2">VALORANT</li>
                    </ul>
                    
                </div>
            </div>
        </div>
    
</body>

</html>